<header class="header">
  <div class="container wrapper">
    <a href="./index.html" class="logo">
      <svg class="logo__icon logo__icon-header">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <span class="logo__text">Product</span>
    </a>
    <div class="nav_menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="navbar">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a class="nav-list__link nav-list__link--active" href="./index.html">Product</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="./pricing-page.html">Pricing</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="./customer-page.html">Customers</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="./resources-page.html">Resources</a>
          </li>
        </ul>
      </nav>
      <div class="login__btn">
        <button class="login-btns login-btn__log">Sign In</button>
        <button class="login-btns login-btn__reg">Sign Up</button>
      </div>
        <button class="theme__switcher theme__switcher-btn">
          <svg class="toggle__theme toggle__theme-light">
            <use href="./images/sprite.svg#icon-light-theme-btn"></use>
          </svg>
        </button>
    </div>
  </div>
  </div>
</header>