<header>
  <a href="#" class="logo">
    <svg class="logo__icon logo__icon-header">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
    <span class="logo__text">Product</span>
  </a>
  <button class="menu">
    <!-- <svg>
          <use href=""></use>
        </svg> -->
  </button>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list__item">
        <a class="nav-list__link nav-list__link--active" href="">Product</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="">Pricing</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="">Customers</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="">Resources</a>
      </li>
    </ul>
  </nav>
  <div class="login-btn">
    <button class="login-btn__log">Sign In</button>
    <button class="login-btn__reg">Sign Up</button>
  </div>
  <button>
    <!-- <svg>
          <use href=""></use>
        </svg> -->
  </button>
</header>
