body {
  font-family: 'Poppins';
  font-weight: 400;
  color: var(--light-text-color);
  background-color: var(--light-background-color);
  padding-top: 80px;
  &.modal-open {
    overflow: hidden;
  }
  &.lock {
    overflow: hidden;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: var(--logo-text-color);

    &-footer {
      font-size: 28px;
      line-height: 0.76;
    }
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 411px) {
    max-width: 411px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1110px) {
    max-width: 1110px;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
