<footer>
  <div class="footer-field">
    <a href="#" class="logo">
      <svg class="logo__icon logo__icon-footer">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <span class="logo__text">Product</span>
    </a>
    <ul class="footer-socials list">
      <li class="footer-socials__item">
        <a class="footer-socials__link" href="" target="_blank">
          <!-- <svg class="footer-socials__icon">
                <use href=""></use>
              </svg> -->
        </a>
      </li>
      <li class="footer-socials__item">
        <a class="footer-socials__link" href="" target="_blank">
          <!-- <svg class="footer-socials__icon">
                <use href=""></use>
              </svg> -->
        </a>
      </li>
      <li class="footer-socials__item">
        <a class="footer-socials__link" href="" target="_blank">
          <!-- <svg class="footer-socials__icon">
                <use href=""></use>
              </svg> -->
        </a>
      </li>
    </ul>

    <div class="resource-field">
      <h2 class="resource-field__label">Resource</h2>
      <ul class="footer-nav list">
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="">About Us</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="">Blog</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="">Contact</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="">FAQ</a>
        </li>
      </ul>
    </div>

    <div class="legal-field">
      <h2 class="legal-field__label">Legal Stuff</h2>
      <ul class="footer-links list">
        <li class="footer-links__item">
          <a class="footer-links__link" href="">Disclaimer</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="">Financing</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="">Privacy Policy</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="">Terms of Service</a>
        </li>
      </ul>
    </div>

    <div class="footer-reg-field">
      <p class="footer-reg-field__text">
        knowing you're always on the best energy deal.
      </p>
      <form action="tel">
        <input type="number" />
      </form>
      <button class="footer-reg-field__btn">Sign up Now</button>
    </div>
  </div>
  <p class="footer-privacy">Made With Love By Figmaland All Right Reserved</p>
</footer>
