<section class="about section">
    <div class="container">
        <div class="about__content">
            <div class="about__content item-1">
                <div class="about__content-text">
                    <span>Effortless Validation for</span>
                    <h3>Management</h3>
                    <p>The Myspace page defines the individual, his or her characteristics, traits, personal choices and
                        the
                        overall personality of the person.</p>
                    <span>Accessory makers</span>
                    <p>While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
                    </p>
                    <span>Alterationists</span>
                    <p>If you are looking for a new way to promote your business that won't cost you more money, </p>
                </div>
                <img class="about__content-img" src="./images/main/about/management.png" alt="Management">
            </div>
            <div class="about__content item-2">
                <div class="about__content-text">
                    <span>Easier decision making for</span>
                    <h3>Support</h3>
                    <p>The Myspace page defines the individual, his or her characteristics, traits, personal choices and
                        the
                        overall personality of the person.</p>
                    <ul class="about__content-text-list">
                        <li class="about__content-list-item">Never worry about overpaying for your energy again. </li>
                        <li class="about__content-list-item">We will only switch you to energy companies that we trust
                            and will treat you right</li>
                        <li class="about__content-list-item">We track the markets daily and know where the savings are.
                        </li>
                    </ul>
                </div>
                <img class="about__content-img" src="./images/main/about/support.png" alt="Support">
            </div>
            <div class="about__content item-3">
                <div class="about__content-text">
                    <span>Optimisation for</span>
                    <h3>Collaborative</h3>
                    <p>The Myspace page defines the individual, his or her characteristics, traits, personal choices and
                        the
                        overall personality of the person.</p>
                    <span>Accessory makers</span>
                    <p>While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
                    </p>
                    <span>Alterationists</span>
                    <p>If you are looking for a new way to promote your business that won't cost you more money, </p>
                </div>
                <img class="about__content-img" src="./images/main/about/collaboration.png" alt="Collaborative">
            </div>
        </div>
    </div>
</section>