<section class="hero section">
  <div class="container hero-container">
    <img
      class="hero-container__pic"
      srcset="
        ./images/main/hero/hero-img.png    1x,
        ./images/main/hero/hero-img@2x.png 2x
      "
      src="./images/main/hero/hero-img-mob.png"
      alt="Community"
    />
    <div class="hero-text-field">
      <h1 class="hero-text-field__label">
        Work at the speed <br />
        of thought
      </h1>
      <p class="hero-text-field__text">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <div class="action-field">
        <button class="action-field__btn">Get started</button>
        <a class="action-field__link" href="">
          <svg width="20px" height="18px">
            <use href="./images/sprite.svg#icon-btn-watch-vid"></use>
          </svg>
          Watch the Video
        </a>
      </div>
    </div>
  </div>
</section>
