<section class="section container pricing">
  <div class="decoration"></div>
  <h2 class="pricing__label">Price Table</h2>
  <p class="pricing__second-label">We offer competitive price</p>
  <div class="list-field">
    <div class="list-field__item">
      <h3 class="cards-list__title">Free</h3>
      <p class="cards-list__description">Brief price description</p>
      <div class="price-field">
        <span class="price-field__num">0</span>
        <div class="price-info">
          <span class="price-info__currency">$</span>
          <p class="price-info__text">Per / month</p>
        </div>
      </div>
      <ul class="cards-list-inclusion list">
        <li class="cards-list-inclusion__item">Only 2 Operators</li>
        <li class="cards-list-inclusion__item">Notifications</li>
        <li class="cards-list-inclusion__item">Landing Pages</li>
      </ul>
      <button class="btn-order">Order Now</button>
    </div>

    <div class="list-field__item">
      <h3 class="cards-list__title">Standard</h3>
      <p class="cards-list__description">Brief price description</p>
      <div class="price-field">
        <span class="price-field__num">5</span>
        <div class="price-info">
          <span class="price-info__currency">$</span>
          <p class="price-info__text">Per / month</p>
        </div>
      </div>
      <ul class="cards-list-inclusion list">
        <li class="cards-list-inclusion__item">5+ Operators</li>
        <li class="cards-list-inclusion__item">Notifications</li>
        <li class="cards-list-inclusion__item">Landing Pages</li>
      </ul>
      <button class="btn-order">Order Now</button>
    </div>

    <div class="list-field__item">
      <h3 class="cards-list__title">Premium</h3>
      <p class="cards-list__description">Brief price description</p>
      <div class="price-field">
        <span class="price-field__num">10</span>
        <div class="price-info">
          <span class="price-info__currency">$</span>
          <p class="price-info__text">Per / month</p>
        </div>
      </div>
      <ul class="cards-list-inclusion list">
        <li class="cards-list-inclusion__item">10+ Operators</li>
        <li class="cards-list-inclusion__item">Notifications</li>
        <li class="cards-list-inclusion__item">Landing Pages</li>
      </ul>
      <button class="btn-order">Order Now</button>
    </div>
  </div>
</section>
