
.logo__icon-header {
  width: 40px;
  height: 36px;
  margin-right: 8px;

  @media screen and (min-width: 1110px) {
    margin-right: 16px;
  }
}

.logo {
  margin-right: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: var(--logo-text-color);
  position: relative;
  height: 80px;
}

.header {
  z-index: 3;
  position: fixed;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  transition: transform 0.1s linear;
  background-color: var(--light-background-color);
}

.header.hide-header {
  transform: translateY(-80px);
}


.navbar {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1109px) {
    position: absolute;
    bottom: 100%;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--light-background-color);
    transition: all 0.2s;
    overflow: hidden;

    &.active-burger {
      transform: translateY(100%);
    }
  }
}

.navbar {
  @media screen and (max-width: 1109px) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    overflow: auto;
    text-align: center;
    justify-content: center;
  }
}

.nav-list {
  @media screen and (max-width: 1109px) {
    display: flex;
    flex-direction: column;
  }
}

.nav-list__item {
  list-style: none;
  display: inline-block;

  &:last-child {
    margin-right: 24px;

    @media screen and (max-width: 1109px) {
      margin-right: 0px;
    }
  }



  .nav-list__link {
    font-size: 16px;
    line-height: 1.75;
    padding: 10px 15px;
    transition-property: all;
    transition-duration: 0.2s;

    &:hover {
      text-shadow: 0 0 0.65px var(--logo-text-color),
        0 0 0.65px var(--logo-text-color);
    }

    @media screen and (max-width: 1109px) {
      display: block;
      font-size: 22px;
      padding: 10px 24px;
    }
  }

}

.login-btns {
  line-height: 1.5;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;

  @media screen and (max-width: 1109px) {}
}

.login-btn__log {
  border: 1px solid var(--border-color-for-mobile-form);
  background-color: var(--light-background-color);
  padding: 8px 24px;
  border: 1px solid var(--color-for-mobile-form);
  transition-property: all;
  transition-duration: 0.2s;
  margin-right: 12px;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.login-btn__reg {
  background-color: var(--green-color);
  color: #fff;
  border: none;
  padding: 9px 24px;
  transition-property: all;
  transition-duration: 0.2s;
  margin-left: 12px;
  margin-right: 23px;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (max-width: 1109px) {
    margin-right: 0px;
    }
}

.theme__switcher {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
  align-items: center;
  transition-property: all;
  transition-duration: 0.2s;
  vertical-align: middle;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  // переключатель тем
  .toggle__theme {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    width: 20px;
    height: 20px;
    
  }
  @media screen and (max-width: 1109px) {
    margin-top: 15px;
    }
}

//  бургер  меню
.nav_menu-btn {
  display: none;

  @media screen and (max-width: 1109px) {
    display: block;
    position: relative;
    width: 21px;
    height: 16px;
    cursor: pointer;
    z-index: 5;
    top: 35%;

    span {
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--logo-text-color);
      transition: all 0.2s;
      border-radius: 4px;

      &:first-child {
        top: 0;
      }

      &:last-child {
        top: auto;
        bottom: 0;
      }
    }

    &.active-burger {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}